.port-pedido {
    margin: 15px auto;
    padding: 30px 30px;
    width: 99%;
    height: 250px;
    background-image: url("../assets/contenido/domicilio.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 10px 10px;
    text-align: right;
    font-size: x-large;
    color: #ffffffff;
}