.ntros {
    width: 100%;
    height: 400px;
    background-image: url(../assets/contenido/nosotros.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border-radius: 50px;
    padding: 0% 350px;
    padding-top: 150px;
    margin: 0;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 10px 10px;
    display: flex;
}

.ntros-tx {
    width: 950px;
    color: #ffa100;
    font-size: 22px;
    background-color: #ffffffec;
    border-radius: 30px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 10px 10px;
    text-shadow: #000000bd 0px 1px 1px;
}

.equipo {
    margin: 100px auto;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}

#equi {
    width: 450px;
    height: 300px;
    float: right;
    border-radius: 100px;
    border: #000000 solid 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.5) 0px 10px 10px;
}

.equi-text {
    color: #ff6b00;
    font-size: 30px;
    width: 700px;
    height: 250px;
    text-shadow: #000000bd 0px 1px 1px;
    padding: 16px 16px;
}